body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
  color: #000;
}


.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: var(--primary-color, #008080);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  opacity: 0.9;
}


body.pau-brasil {
  --primary-color: #a30000; 
  background-image: url('../img/pau-brasil.jpeg');
}

body.castanheira {
  --primary-color: #836953; 
  background-image: url('../img//castanheira.jpg');
}

body.peroba-rosa {
  --primary-color: #d26a8c;
  background-image: url('../img/peroba.jpeg');
}

#resultado {
  background: #f4f4f4;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}



.top-bar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}


.menu-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row; 
  gap: 10px;
  width: auto;
  pointer-events: all;
}


.menu-card button {
  padding: 10px 20px;
  background-color: #66bb6a;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-card button:hover {
  background-color: #558b2f;
}
