* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: #008B8B;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  background-color: #008080;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 320px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #333;
  padding: 10px;
}

.login-container input,
.login-container select {
  margin-top: 6px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid white;
  
}

.mensagem-erro {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  background-color: white
}
